/* 
#363062
#4D4C7D
#F99417
#F5F5F5 
*/

:root{
    --primary:#F5F5F5; 
    --secondary:#4D4C7D;
    --design:#F99417;
}

body{
    min-height: 100vh;
    direction: rtl;
}
.menu{
    height: 50px;
    background-color: var(--secondary);
}
.header{
    height: 400px;
    background-color: var(--primary);
}
.parts{
    min-height: 300px;
    background-color: var(--primary);
}
#part1{
    background-image: url(./images/cut1.png);background-repeat: no-repeat;
    background-size: 120px;
    background-position: bottom right;
}
#part2{
    background-image: url(./images/cut2.png) , url(./images/pen_des1.png);
    background-repeat: no-repeat;
    background-size: 120px , 80px;
    background-position: bottom left , bottom right;
}
#part3{
    background-image: url(./images/pattern.png);
}
#part4{}
#part5{}
#part6{
    background-image: url(./images/colorfull1.png);
    background-repeat: repeat-x;
    background-size: 150px;
    background-position-x: left;
    background-position-y: bottom;
}
.footer{
    height: 100px;
    background-color: var(--secondary);
}